<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.homestay.mapper.OverviewMapper">
    <!--计算总订单量-->
    <select id="totalOrder" resultType="Integer">
        SELECT COUNT(*) FROM tb_order_detail WHERE (tb_order_detail.`order_condition` = 1)
    </select>
    <!--计算总收入-->
    <select id="totalIncome" resultType="BigDecimal">
        SELECT SUM(tb_order_detail.`pay`) FROM tb_order_detail WHERE (tb_order_detail.`order_condition` = 1)
    </select>
    <!--计算总用户人数-->
    <select id="totalUser" resultType="Integer">
        SELECT COUNT(*) FROM tb_user WHERE (tb_user.`user_type` = "ROLE_USER")
    </select>
    <!--计算总房东人数-->
    <select id="totalLandlord" resultType="Integer">
        SELECT COUNT(*) FROM tb_user WHERE (tb_user.`user_type` = "ROLE_LANDLORD")
    </select>

    <!--计算总房间数-->
    <select id="totalRoom" resultType="Integer">
        SELECT COUNT(*) FROM tb_room
    </select>
    <!--计算某房东的总房间数-->
    <select id="totalRoomByLandlordId" resultType="Integer">
        SELECT COUNT(*) FROM tb_room WHERE (tb_room.`landlord_id` = #{landlordId})
    </select>
    <!--计算某房东的总收入-->
    <select id="totalIncomeByLandlordId" resultType="BigDecimal">
        SELECT SUM(tb_order_detail.`pay`) FROM tb_order_detail WHERE (tb_order_detail.`order_condition` = 1) AND (tb_order_detail.`room_id` IN (SELECT tb_room.`room_id` FROM tb_room WHERE (tb_room.`landlord_id` = #{landlordId})))
    </select>
    <!--计算某房东的总订单量-->
    <select id="totalOrderByLandlordId" resultType="Integer">
        SELECT COUNT(*) FROM tb_order_detail WHERE (tb_order_detail.`order_condition` = 1) AND (tb_order_detail.`room_id` IN (SELECT tb_room.`room_id` FROM tb_room WHERE (tb_room.`landlord_id` = #{landlordId})))
    </select>
    <!--计算某房东的总租用人数-->
    <select id="totalUserByLandlordId" resultType="Integer">
        SELECT COUNT(*) FROM tb_order_detail WHERE (tb_order_detail.`order_condition` = 1) AND (tb_order_detail.`room_id` IN (SELECT tb_room.`room_id` FROM tb_room WHERE (tb_room.`landlord_id` = #{landlordId})))
    </select>
</mapper>
